.category-holder {
    cursor: pointer;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Just for visualization */
    max-width: 100%; 
  }
  
  .category-img {
    max-width: 100%;
    max-height: 100%;
  }