.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
}

.login-holder {
    display: flex;
    justify-content: space-around;    
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}


.why-sign-up-holder {
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.login-holder-sign-up {
    display: flex;
    justify-content: space-around;    
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #f5f5f5; /* Example background color */
    padding: 25px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
