/* SignIn.scss */
.sign-in-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
  }
  
  .button-holder {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .clear-btn, .login-btn {
    padding: 8px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .clear-btn {
    background-color: gray;
    color: white;
  }
  
  .login-btn {
    background-color: black;
    color: white;
  }
  
  .success-message {
    position: absolute; /* Position absolutely within the parent */
    top: -5px; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    width: 100%; /* Take full width */
    text-align: center; /* Center the message */
    // background-color: rgba(255, 0, 0, 0.5); /* Add a background color */
    color: white; /* Text color */
    z-index: 1; /* Set a higher z-index to appear over other content */
    padding: 8px; /* Add padding for better visibility */
    color: green;
  }
  
  .error-message {
        position: absolute; /* Position absolutely within the parent */
        top: -5px; /* Adjust as needed */
        left: 0; /* Adjust as needed */
        width: 100%; /* Take full width */
        text-align: center; /* Center the message */
        // background-color: rgba(255, 0, 0, 0.5); /* Add a background color */
        color: white; /* Text color */
        z-index: 1; /* Set a higher z-index to appear over other content */
        padding: 8px; /* Add padding for better visibility */
    color: red;
  }
  
  .sign-in {
    width: 350px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }