/* cartPage.scss */

.cart-contents {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .cart-table th,
  .cart-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .cart-table th {
    background-color: #f2f2f2;
  }
  
  .total-price {
    margin-top: 20px;
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .checkout-holder {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    margin-top: 5px;
  }
  
  .checkout-button {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .checkout-button:hover {
    background-color: rgba(0, 0, 0, 8);
  }